@import '../variables.scss';

.kanji-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: $--clr-gray;

}

.kanji-card p {
    width: 80%;
    height: 80%;
    background-color: $--clr-pink;
    font-size: 4rem;
    text-align: center;
}
